@use '../../common/css/color.scss';

nav.container {
  margin-top: 80px;
  color: color.getColor('grey01');
  width: calc((100vw - 720px) / 2 - 50px);
  display: none;
  @media screen and (min-width: 1200px) {
    position: sticky;
    top: 70px;
    display: block;
    max-width: 360px;
    margin-right: 20px;
    overflow: auto;
    word-break: break-word;
    max-height: calc(100vh - 200px);
    font-size: 14px;
  }
  .title {
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .contents {
    ul {
      list-style: none;
      margin-left: 20px;
      margin-bottom: 0px;
    }
    ul > li {
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    ul > li a.isCurrent {
      font-size: 15px;
      color: color.getColor('text');
      font-weight: 600;
    }
  }
}
