@use 'sass:map';

$colors: (
  text: #333333,
  grey00: #555555,
  grey01: #888888,
  grey02: #aaaaaa,
  grey03: #cccccc,
  lightGrey01: #e8e8e8,
  lightGrey02: #f3f3f3,
  lightGrey03: #f9f9f9,
);

@function getColor($color) {
  @return map.get($colors, $color);
}
