.contents a {
  transition: background 0.5s;
}

.contents a:not(.gatsby-resp-image-link) {
  color: #3a3a3a;
  text-decoration: none;
  border-bottom: 3px solid #d7c3ee;
}

.contents a:active:not(.gatsby-resp-image-link),
.contents a:hover:not(.gatsby-resp-image-link) {
  outline-width: 0;
  text-shadow: none;
  background-color: #e0d6eb;
}

.contents ul {
  margin-left: 15px;
  margin-bottom: 1.8rem;
}

.contents ol {
  margin-left: 20px;
  margin-bottom: 1.8rem;
}

.contents ul li a {
  word-break: break-all;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2d2d2d;
  margin-top: 0.1rem;
  margin-bottom: 1.8rem;
  border-radius: 4px;
}

@media (max-width: 600px) {
  pre[class*='language-'] {
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 0.875rem;
    border-radius: 0px;
  }
}

:not(pre) > code[class*='language-'] {
  background: #dfdfdf;
  color: rgb(34, 34, 34);
  padding: 3px 5px;
  font-weight: 600;
}

blockquote {
  margin: 20px 15px 20px 0;
  padding-left: 20px;
  border-left: 5px solid #e5e5e5;
}

.frame-wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

#gatsby-noscript {
  display: none;
}
